@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* is your multi line comment /*
/* variable examples */
:root{
    --content-background-color: rgba(250, 240, 125, 0.909);
}

body{
    background-color:rgb(48, 120, 96);
}
header{
    /* background-color: rgba(255,255,255,.75);  */
    background-color: rgba(4, 117, 38, 0.946);
    text-align: center;
}

header p{ 
    color:#eece2d; 
}
.cover img{ 
    width: 50%; 
    height: 700px; 
    border-radius: 15px;
}
.special-text {
    font-size: 30px;
}

nav {
    background-color: rgba(248, 244, 111, 0.946);
}

nav > ul{ 
    width: 800px; 
    margin: 0 auto; 
    display: grid; 
    grid-template-rows: auto; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px; 
}

nav > ul > li{ 
    padding: 30px; 
    list-style: none;
    /*\ background-color: rgba(34, 97, 65, 0.254); */
}

nav > ul > li > a{ 
    color: black; 
    font-size: 20px; 
    font-family: serif; 
    /* remove underline when navigating */
    text-decoration: none;
    display: inline-block; 
    padding: 10px 15px; 
}

nav > ul > li > a:hover{
    background-color: green; 
}
main{
    /* background-color: rgba(255,255,255,.75); */
       background-color: var(--content-background-color);
       text-align: center;
}   

footer{
    /* background-color: rgba(255,255,255,.75); */
       background-color: var(--content-background-color);
}

h1{
    /* background-color: #333333;  */
    color: #eece2d;
    text-decoration: underline; 
    text-align: center;
    font-family: 'Playfair Display', serif; 
    font-weight: 800;
    font-style: italic;
}
/* adding a coma adds the property to the tag*/ 
h2, h3{
     font-family: cursive; /* serif, sans-serif, cursive, monospace  */
}

h2{
    color: green; 
}

.charactergrid{
    display: grid;
    grid-template-rows: auto; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px; 
}

.charactergrid img{ 
    box-shadow: 5px 5px 15px rgb(245, 237, 9); 
     transition: 0.3s;
}

.charactergrid img:hover{ 
    transform: scale(1.05);
} 

.wildlifeinspo{ 
    display: grid;
    grid-template-rows: auto auto; 
    grid-template-columns: 1fr 1fr;
    gap: 20px; 
}
.wildlifeinspo img{ 
    width: 100%; 
    height: 400px; 
}
 
.junglepics{ 
    text-align: center;
} 

.junglepics img{ 
    width: 500px; 
    height: 400px; 
}

.gallery-title {
    text-decoration: underline;
    color:black; 
}