/* is your multi line comment /*
/* variable examples */
:root{
    --content-background-color: rgba(255,255,255,0.75);
    --pagewidth: 960px; 
}

/* reset soome default browser styles */
* { 
    margin: 0; 
    padding: 0; 

}
body{
    background-color: cornflowerblue;
}
header{
    /* background-color: rgba(255,255,255,.75);  */
    background-color: var(--content-background-color);
    width: var(--pagewidth);  
    /* width: 960px */
    padding: 20px; 
    /* add 20 px of padding  */
    border-width: 5px;
    border-style: solid;
    border-color: blue; 
    margin-top: -7px; 
    margin-bottom: 0px;
    margin-left: auto; 
    margin-right: auto;
}

/* this is how to apply something to a p-tag within something else  */
header > p{
    text-align: center; 
    font-family: sans-serif; 
    /* display: inline-block */
}

nav > ul { 

}

nav > ul {
    width: 600px; 
    height: 200px; 
    margin: 0 auto; 
    display: grid; 
    grid-template-rows: auto; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px; 
    justify-content: center;
    justify-items: center;
    align-content: end; 
    align-items: center; 
}

nav > ul > li{ 
    padding: 30px; 
    list-style: none;
    background-color: aquamarine;
}

nav > ul > li > a{ 
    color: black; 
    font-size: 20px; 
    background-color: aquamarine; 
    padding: 30px; 
    font-family: serif; 
    /* remove underline when navigating */
    text-decoration: none 
}

nav > ul > li > a:hover{
    background-color: green; 
}
main{
    /* background-color: rgba(255,255,255,.75); */
       background-color: var(--content-background-color);
       padding-top: 20px; 
       padding-right: 40px;
       padding-bottom: 20px;
       padding-left: 40px;
       border-top-width: 20px;
       border-top-style: wavy;
       border-top-color: white;
       margin: 0px auto; 
       /* margin: tp/bottom left/right  */
}   

footer{
    /* background-color: rgba(255,255,255,.75); */
       background-color: var(--content-background-color);
       width: var(--pagewidth);
       border: 10px solid green; 
       padding: 20px; 
       margin: 0 auto; 
       /* make everything centered */
}

h1{
    /* background-color: #333333;  */
    color: #777777
    text-align: center; 
    text-decoration: underline; 
}
/* adding a coma adds the property to the tag*/ 
h2, h3{
     font-family: cursive; /* serif, sans-serif, cursive, monospace  */
}

h2{
    color: green; 
}

.grid1{
    display: grid; 
    grid-template-rows: auto; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 20px; 
}

.gris2{ 
    display: grid; 
    grid-template-rows: auto; 
    grid-template-columns: 2fr 1fr 1fr; 
    gap: 20px; 
}

.grid3{
    height: 400px; 
    display: grid; 
    grid-template-rows: 200px;
    grid-template-columns: 200px 200px 200px;
    gap: 20px; 
    justify-content: center; 
    align-content: center; 
    align-items: end 
}
.grid3 p{
    background-color: azure; 
}

#section2{
    color: firebrick; 
    background-color: chocolate; 
}

.grid4{ 
    display: grid;
    grid-template-rows: auto auto; 
    grid-template-columns: 1fr 1fr;
    gap: 20px; 
}
.grid4 img{ 
    width: 100%; 
    height: 400px; 
}
